!!! 5
%html
  %head
    %title 宝贝钱罐
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    %link(href="../css/normalize.css" type="text/css" rel="stylesheet")
    %link(href="../css/index.css" type="text/css" rel="stylesheet")
    %script(src="../js/jquery-1.11.2.min.js" type="text/javascript")
    %script(src="../js/index.js" type="text/javascript")
  %body
    .container
    .light_beam
      .red_bag_wrap
        .red_bag
          %img.img-responsive(src="../images/open_red_bag.png")
          .description
            %p 恭喜已成功兑换红包
            .num
              18
              %span 元
        .long_buttom
          .decoration
          .word_wrap
            %a(href="dail.html") 进罐看看









