!!! 5
%html
  %head
    %title 宝贝钱罐
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    %link(href="../css/normalize.css" type="text/css" rel="stylesheet")
    %link(href="../css/index.css" type="text/css" rel="stylesheet")
    %script(src="../js/jquery-1.11.2.min.js" type="text/javascript")
    %script(src="../js/index.js" type="text/javascript")
  %body
    .container
      .head
        .nav-wrap
          .nav
            %a.nav_left(href="exchange.html") 兑换
            %a.nav_right.active(href="index.html") 记录
        .close
      .bar
        .detailed
          .click_div
            %i.calendar
            %span 往年明细
            %i.arrow
          %ul
            %li
              %a(href="detail.html") 2014
      .main
        .circle
          .money_num
            ￥
            %span.num 0.00
            .bag_num
              红包
              %span 0
              个
      .record_button
        %a(href="change_header.html") 记一笔
        .tip
          %span 暂无记录,赶紧把压岁红包给孩子记录下来吧
      .shading





