!!! 5
%html
  %head
    %title 宝贝钱罐
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    %link(href="../css/normalize.css" type="text/css" rel="stylesheet")
    %link(href="../css/index.css" type="text/css" rel="stylesheet")
    %script(src="../js/jquery-1.11.2.min.js" type="text/javascript")
    %script(src="../js/index.js" type="text/javascript")
  %body
    .container.bg3
      .envelope_wrap
        .envelope
          %img.img-responsive(src="../images/envelope.png")
          .value_wrap
            .value
              %input(value="350.00" type="text")
          .header_pic_wrap
            %img.img-responsive(src="../images/p1.jpg")
          .input_name_wrap
            %input(placeholder="请输入姓名/昵称" type="text")
      .button_wrap
        %button.green.width40 删除
        %button.orange.width40 确定
      .select_header_wrap
        .title 选择头像
          .triangle.right 
        %ul
          %li
            .picture_wrap
              %img.img-responsive(src="../images/p1.jpg")
          %li
            .picture_wrap
              %img.img-responsive(src="../images/p1.jpg")
          %li
            .picture_wrap
              %img.img-responsive(src="../images/p1.jpg")
          %li
            .picture_wrap
              %img.img-responsive(src="../images/p1.jpg")
          %li
            .picture_wrap
              %img.img-responsive(src="../images/p1.jpg")
          %li
            .picture_wrap
              %img.img-responsive(src="../images/p1.jpg")
          %li
            .picture_wrap
              %img.img-responsive(src="../images/p1.jpg")
          %li
            .picture_wrap
              %img.img-responsive(src="../images/p1.jpg")
          %li
            .picture_wrap
              %img.img-responsive(src="../images/p1.jpg")




