!!! 5
%html
  %head
    %title 宝贝钱罐
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    %link(href="../css/normalize.css" type="text/css" rel="stylesheet")
    %link(href="../css/index.css" type="text/css" rel="stylesheet")
    %script(src="../js/jquery-1.11.2.min.js" type="text/javascript")
    %script(src="../js/index.js" type="text/javascript")
  %body
    .container
    .light_beam
      .red_bag_wrap
        .red_bag
          %img.img-responsive(src="../images/close_red_bag.png")
          .description
            %p 恭喜已获得压岁钱红包
            .num
              18
              %span 元
        .line_tip 还需存入1元即可到账
        .long_buttom
          .decoration
          .word_wrap
            %a(href="gain_red_bag.html") 立即存入









